<div *ngFor="let post of this.thread.posts">
  <!-- <div *ngIf="post.id === 0">

  </div>
  <div *ngIf="post.id != 0">

  </div> -->
  <div class="post">
    <div class="post-info">
      <div class="post-author">
        {{post.data.author}}
      </div>
      <div class="post-date">
        {{post.data.date}}
      </div>
    </div>
    <div class="post-message">
      <p>{{post.data.message}}</p>
      <a [routerLink]="['/post-form', id, post.id]"><button class="button edit">Edit</button></a>
    </div>
  </div>
</div>

<a [routerLink]="['/post-form', id, 'newpost']"><button class="button">Post Reply</button></a>
